<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<title>DeepDive</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!--- CSS Files here-->
	<link rel="stylesheet" href="../assets/build/css/app.css">

	<!--- JS Files here-->
	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	<script src="../assets/build/js/app_head.min.js"></script>
</head>

<body>
<div class="page-wrapper pd-al-sm">
	<div class="login-container">
		<div class="text-center pd-al-sm">
			<i class="fa fa-envira logo-img" aria-hidden="true">DeepDive</i>
		</div>
		<div class="login-form theme-box-shadow">
			<form id="loginForm">
				<hr class="login-sep">
				<div class="form-group">
					<label for="new_password" class="login-label">NEW PASSWORD</label>
					<input type="password" class="form-control no-border login-field" id="new_password" placeholder="New password">
				</div>
				<hr class="login-sep">
				<div class="form-group">
					<label for="confirm_password" class="login-label">CONFIRM PASSWORD</label>
					<input type="password" class="form-control no-border login-field" id="confirm_password" placeholder="Confirm password">
				</div>
				<hr class="login-sep">
				<div class="login-bottom-wrap">
					<div class="login-bottom-box">
						<button type="button" class="btn btn-primary login-btn">Submit</button>
					</div>
					<div class="mg-tp-sm">
						<a href="/templates/login.html">Click here to login</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="assets/build/js/app_foot.min.js"></script>
</body>
</html>