<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<title>DeepDive</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!--- CSS Files here-->
	<link rel="stylesheet" href="../assets/build/css/app.css">

	<!--- JS Files here-->
	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	<script src="../assets/build/js/app_head.min.js"></script>
</head>

<body>
<div class="page-wrapper pd-al-sm">
	<div class="login-container">
		<div class="text-center pd-al-sm">
			<i class="fa fa-envira logo-img" aria-hidden="true">DeepDive</i>
		</div>
		<div class="login-form theme-box-shadow">
			<form id="loginForm">
				<hr class="login-sep">
				<div class="form-group">
					<label for="username" class="login-label">USERNAME</label>
					<input type="text" class="form-control no-border login-field" id="username" placeholder="Username">
					<i class="fa fa-user-o login-icon" aria-hidden="true"></i>
				</div>
				<hr class="login-sep">
				<div class="form-group">
					<label for="password" class="login-label">PASSWORD</label>
					<input type="password" class="form-control no-border login-field" id="password" placeholder="Password">
					<i class="fa fa-key login-icon" aria-hidden="true"></i>
				</div>
				<hr class="login-sep">
				<div class="login-bottom-wrap">
					<div class="login-bottom-box">
						<button type="button" class="btn btn-primary login-btn">Login</button>
						<div class="custom-checkbox remember-me">
							<input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox" checked />
							<label for="checkbox-3" class="checkbox-custom-label font-regular">Remember me</label>
						</div>
					</div>
					<div class="mg-tp-sm">
						or you can <a href="/templates/register.html">Register</a>
					</div>
					<div class="mg-tp-xs text-left">
						<a class="no-link forgot-password" href="/templates/forgot-password.html">Forgot your password?</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="assets/build/js/app_foot.min.js"></script>
</body>
</html>